@mixin ghost {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@mixin bgStyles {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin projectsContainerStyles {
  position: relative;
  padding-left: 30px;
  padding-top: 22px;
  padding-bottom: 30px;
}

@mixin headerLinksStyles {
  font-family: 'TT Firs Neue Reg';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}


@mixin before {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  background-color: transparent;
  z-index: -1;
}
