
$whiteColor: #FFF;
$greyColor: #CACACA;
$blackColor: #202020;
$orangeColor: #FF6E30;
$darkGreyColor: #999999;
$inputBgColor: #e9e9e9;
$headerBottomBackground: #4A4A4A;
$borderColor: #808080;

$hashtagBackround: #333333;

$focusBgColor: #BC572B;
$activeBgColor: #CE4307;

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$fon-size-22: 22px;
$font-size-24: 24px;

$font-weight-400: 400;
$font-weight-700: 700;

$line-height-104: 104%;
$line-height-14: 14px;
$line-height-16: 16px;
$line-height-18: 18px;
$line-height-19: 19px;
$line-height-22: 22px;
$line-height-23: 23px;
$line-height-24: 24px;
