@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Roboto Reg';
    font-display: swap;
    src: local("RobotoReg"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
    font-weight: 700;
    font-style: bold;
    font-family: 'Roboto Bold';
    font-display: swap;
    src: local("RobotoBold"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'TT Firs Neue Reg';
    font-display: swap;
    src: local("TT Firs Neue Reg"), url("../fonts/TTFirsNeue-Regular.woff2") format("woff2"), url("../fonts/TTFirsNeue-Regular.woff") format("woff");
}

@font-face {
    font-weight: 700;
    font-style: bold;
    font-family: 'TT Firs Neue Bold';
    font-display: swap;
    src: local("TT Firs Neue Bold"), url("../fonts/TTFirsNeue-Bold.woff2") format("woff2"), url("../fonts/TTFirsNeue-Bold.woff") format("woff");
}

