@import '_variables.scss';
@import '_mixins.scss';

.footer {
  background-color: $blackColor;

  &-container {
    display: grid;
    grid-template-columns: 34% 28% 38%;
    padding: 18px 0;
    grid-template-areas: "footer__logo-content footer__quote footer__socialnets";
  }

  &__logo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: footer__logo-content;
  }

  &__logo-descr {
    font-family: "TT Firs Neue Reg", sans-serif;
    font-weight: $font-weight-400;
    font-size: $font-size-14;
    line-height: $line-height-18;
    color: $inputBgColor;
  }

  &__quote {
    grid-area: footer__quote;
  }

  &__quote-text {
    margin-top: 5px;
    font-family: "Roboto Reg", sans-serif;
    font-weight: $font-weight-400;
    font-size: $font-size-16;
    line-height: $line-height-22;
    color: $greyColor;
  }

  &__quote-author {
    font-family: "Roboto Reg", sans-serif;
    font-weight: $font-weight-400;
    font-size: $font-size-16;
    line-height: 22px;
    color: #666666;
  }

  &__logo-img {
    width: 190px;
    height: 30px;
  }

  &__socialnets {
    display: grid;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: footer__socialnets;
  }

  &__socialnets-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 250px;
  }

  &__socialnets-item:not(:last-child) {
    margin-right: 21px;
  }

  &__socialnets-text {
    margin-top: 4px;
    margin-bottom: 5px;
    font-family: "Roboto Reg", sans-serif;
    font-weight: $font-weight-400;
    font-size: $font-size-16;
    line-height: $line-height-22;
    text-align: center;
    color: $greyColor;
  }



  &__socialnets-link {
    display: block;
    width: 30px;
    height: 30px;
    @include bgStyles;
    cursor: pointer;

    &:hover > &-svg > path {
      fill: $orangeColor;
    }

    &:focus > &-svg > path {
      fill: $focusBgColor;
    }

    &:active > &-svg > path {
      fill: $activeBgColor;
    }
  }

  &__socialnets-link > &__socialnets-link-svg > path {
    transition: fill .1s ease-in-out;
  }

  &__link {
    display: block;
    width: 30px;
    height: 30px;
  }
}


@media(max-width: 1366px) {
  .footer {
    &-container {
      display: grid;
      grid-template-columns: 39% 38% 23%;
    }

    &__logo-img {
      width: 166px;
      height: 27px;
    }
  }
}


@media(max-width: 992px) {
  .footer {
    &-container {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "footer__logo-content footer__socialnets";
      padding: 22px 0;
    }

    &__quote {
      display: none;
    }

    &__logo-img {
      margin-top: 11px;
    }
  }
}



@media(max-width: 576px) {
  .footer {
    &-one {
      padding: 0;
    }

    &-container {
      grid-template-columns: 1fr;
      grid-template-areas:
      "footer__socialnets"
      "footer__logo-content";
      gap: 34px;
      padding-bottom: 0;
      padding-top: 27px;
    }

    &__logo {
      padding: 14px 75px;
      padding-top: 3px;
      text-align: center;
      background-color: #4a4a4a;
    }

    &__logo-img {
      width: 112px;
      height: 18px;
    }

    &__logo-descr {
      font-size: 10px;
      line-height: 13px;
    }

    &__socialnets {
      justify-content: center;
    }
  }
}
